!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title AdtsysApplicantTest
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body
    .container
      %nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            %button{ type: 'button', class: 'navbar-toggle collapsed', data_toggle: 'collapse' }
            %a{ class: 'nav-brand', href: root_path, title: 'home' }
              = image_tag 'logo-adtsys.jpg', alt: 'ADTSys logo' #ADTsys Applicant Test
            %p.navbar-text.navbar-right Application Test

      .main
        = yield

      %footer.footer
        %p.text-muted.text-center by Alexandro de Oliveira - All rights reserved.
